.Pacientes {
	padding: 3em;
	margin-bottom: 3em;
}

.Pacientes > h1 {
	font-size: 1.5em;
	border-bottom: 1px solid var(--color3);
	color: var(--color2);
}

.Paciente {
	width: 100%;
	background: var(--color7);
	padding: 20px;
	box-shadow: 0 4px 8px rgba(46, 46, 46, 0.185);
	border-radius: 10px;
	margin: auto;
	margin-top: 2em;
}

.table-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	border-bottom: 1px solid var(--color3);
	padding-bottom: 1.5em;
	flex-wrap: wrap;
}

.search-bar {
	display: flex;
	align-items: center;
	margin-top: 10px;
	gap: 1em;
}



.search-bar label {
	margin-right: 0px;
}

.search-bar input {
	padding: 10px;
	border: 1px solid var(--color9);
	border-radius: 5px;
	font-size: 16px;
	transition: border-color 0.3s ease; /* Transición suave para el cambio de color */
}

.search-bar input:focus {
	border-color: var(--color3); /* Cambia el color del borde cuando el input está en foco */
	outline: none; /* Elimina el contorno predeterminado del navegador */
}

.add-button {
	background-color: var(--color2);
	color: var(--color7);
	padding: 8px 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.add-button i {
	margin-right: 5px;
	font-size: 1.6em;
}

.add-button:hover {
	background-color: var(--color3);
	color: var(--color7);
}

.patient-table {
	width: 100%;
	border-collapse: collapse;
}

.patient-table th,
.patient-table td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid var(--color5);
}

.patient-table tr:hover {
	background-color: var(--color9);
}

.action-button {
	background-color: var(--color2);
	color: var(--color7);
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.action-button-delete {
	background-color: var(--color8);
	color: var(--color7);
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.action-button:hover {
	background-color: var(--color3);
}

.action-button-delete:hover {
	filter: brightness(1.2);
}

.Accion {
	display: flex;
	gap: 1em;
	align-items: center;
}

.no-results {
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	color: var(--color8); 
  }
  


@media (max-width: 1100px) {
	.Pacientes {
		padding: 1.5em;
		margin-bottom: 1.5em;
	}
	
	.Paciente {
		padding: 15px;
		margin-top: 1em;
	}
	
	.table-header {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.search-bar {
		width: 100%;
		margin-top: 0.5em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.search-bar input {
		width: 100%;
	}
	
	.add-button {
		width: 100%;
		justify-content: center;
		margin-top: 0.5em;
	}
	
	.patient-table th,
	.patient-table td {
		padding: 10px;
		font-size: 14px;
	}
	
	.action-button,
	.action-button-delete {
		padding: 5px;
		font-size: 14px;
	}
	
	.Accion {
		flex-direction: column;
		gap: 0.5em;
		align-items: stretch;
	}
	
	.column-id,
	.column-cedula {
		display: none;
	}
	.no-results {
		text-align: center;
		font-size: 20px;
		margin-top: 20px;
	  }
	  
}

@media (max-width: 600px) {
	.Pacientes {
		padding: 1em;
		margin-bottom: 1em;
	}
	
	.Paciente {
		padding: 10px;
	}
	
	.table-header {
		padding-bottom: 1em;
	}
	
	.search-bar {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.search-bar label {
		margin-bottom: 0.5em;
	}
	
	.add-button {
		padding: 10px;
	}
	
	.patient-table th,
	.patient-table td {
		padding: 8px;
		font-size: 12px;
	}
	
	.action-button,
	.action-button-delete {
		padding: 5px;
		font-size: 12px;
		width: 100%;
		max-width: 10em;
	}
	
	/* Hide more columns */
	.column-telefono,
	.column-estado,
	.column-fecha {
		display: none;
	}
	.no-results {
		text-align: center;
		font-size: 20px;
		margin-top: 20px;
		color: red; /* Puedes ajustar el color según sea necesario */
	  }
	  
}
